*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #0A192F;
}

h1 {
  text-align: center;
  font-size: 24px;
  color: #D4AF37;
  margin: 20px 0;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: #D4AF37;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  left: 0;
}

.container.right {
  left: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid #D4AF37;
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #D4AF37;
  z-index: 1;
}

.container.right::before {
  left: 8px;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #D4AF37;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container.left .date {
  right: -110px;
}

.container.right .date {
  left: -110px;
}

.container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: #1B263B;
  border: 2px solid #D4AF37;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #D4AF37;
  z-index: 1;
}

.container.left .icon {
  right: 56px;
}

.container.right .icon {
  left: 56px;
}

.container .content {
  padding: 30px 90px 30px 30px;
  background: #1B263B;
  position: relative;
  border-radius: 0 100px 100px 0;
}

.container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 100px 0 0 100px;
}

.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: #D4AF37;
}

.container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #D4AF37;
}

.timeline-img {
    width: 100%;
    max-width: 150px;
    margin-top: 15px;
    border-radius: 10px;
    display: block;
    margin-left: 30%;
  }

@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }
  .timeline-img {
    max-width: 125px;
    margin-left: auto;
    margin-right: auto;
  }
  .img-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    max-width: 270px;
    margin-top: 15px;
  }
  .img-div img {
    flex: 0 0 calc(50% - 8px);
    max-width: 125px;
    border-radius: 10px;
    margin: 0;
    display: block;
    object-fit:contain;
  }
  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after, 
  .container.right::after {
    left: 82px;
  }

  .container.left::before,
  .container.right::before {
    left: 100px;
    border-color: transparent #006E51 transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: 15px;
    max-width: 15px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 146px;
  }

  .container.left .content,
  .container.right .content {
    padding: 20px 20px 20px 60px;
    border-radius: 100px 0 0 100px;
  }

  .container .content p{
    font-size: 12px;
    line-height: 18px;
  }
}